.form-title {
    font-size: 26px;
    padding-top: 10px;
    border-bottom: 3px solid var(--primary-color);
    width: 300px;
    height: 46px;
}

.form-container {
    margin: 0 auto;
    width: 540px;
    height: 750px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 40px 30px 50px 30px;

}

.userCbb {
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 15px;
    width: 200px;
    padding: 10px;
}