.form-container {
    margin: 0 auto;
    width: 540px;
    height: 448px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 40px 30px 50px 30px;

}

.form-title {
    font-size: 30px;
    padding-top: 10px;
    border-bottom: 3px solid var(--primary-color);
    width: 200px;
    height: 46px;
}

.form-login {
    margin-top: 15px;
}

.form-input-group {
    font-size: 16px;
    margin-bottom: 15px;
}

.form-label {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 15px;
    padding: 5px 20px;
}

.btn-login {
    width: 100%;
    margin-top: 40px;
    height: 45px;
    color: #FFF;
    background-color: var(--primary-color);
    outline: none;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 550;
}

.btn-login:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: #FFF;
    border: 1px solid var(--primary-color);
}